body {
    background-color: #2f3142;
    color:azure;
    padding-left: 30px;
    padding-bottom:70px;
    padding-top:30px;
}

body.light-mode {
    background-color:white;
    color:black;
}

.level {
    color:burlywood;
    margin:30px;
    padding-left:40px;
    height:100px;
    width:600px;
    align-content:center;
    border-style:solid;
    border-color: white;
    border-width:3px;
    border-radius:50px;
    background-color: mediumblue;
}

footer {
    background-color:cadetblue;
    position: fixed;
    z-index: 1000;
    bottom:0;
    left:0;
    width:100%;
    padding-left:25px;
    height:50px;
}