header {
    background-color:cadetblue;
    position: fixed;
    z-index: 1000;
    top:0;
    left:0;
    width:100%;
    padding-left:25px;
    padding-right:25px;
    height:100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.level {
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:dark;
    margin:30px;
    padding-left:30px;
    padding-right:30px;
    height:70px;
    width:600px;
    align-content:center;
    border-style:solid;
    border-color: white;
    border-width:1px;
    border-radius:20px;
    background-color: transparent;
}

footer {
    background-color:cadetblue;
    position: fixed;
    z-index: 1000;
    bottom:0;
    left:0;
    width:100%;
    padding-left:25px;
    height:50px;
}

.new-level-container {
    display: flex;
    align-items: left;
    width:250px;
    padding-right: 30px;
    padding-bottom: 15px;
}